/* Roboto Slab, Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@100;300&display=swap');

/* Allura, Delius, Great Vibes */
/*@import url('https://fonts.googleapis.com/css2?family=Allura&family=Delius&family=Great+Vibes&display=swap');*/

/* Libre Baskerville */
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */

/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap');

/* Yellowtail */
/* @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap'); */

/* Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Crimson Pro, Meddon */
/* @import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Crimson+Pro:wght@300;500&family=Meddon&display=swap'); */

/* Antic Slab */
/* @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap'); */

/* Amiri */
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap');

/* Bad Script, Marck Script */
/* @import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Marck+Script&display=swap'); */

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,500;0,700;1,300&display=swap');

/* Cherry Swash, Lancelot, Maiden Orange, Noto Serif Thai, Offisde, Scope One */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lancelot&family=Maiden+Orange&family=Noto+Serif+Thai:wght@300;400&family=Offside&family=Scope+One&display=swap');

/* Crete Round, Pridi, Sanchez */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Pridi&family=Sanchez&display=swap');

/* Lancelot - sans serif*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

/* 
Allura - handwriting font
Great Vibes - handwriting
Yellowtail - handwriting Astigmatic, 1 style
Pacifico - handwrting, 1 style
Calligraffitti - handwriting, too much
Meddon - slant handwriting, too much
Bad Script - handwriting
Delius - slight handwriting
Marck Script - handwriting
Proza Libre - slight handwriting
Libre baskerville - slight handwriting - Headline?
DM Sans - Sans font
Crimson Pro - slight - headline?
Antik Slab - Slight serif - too basic
Amiri - light serif - too basic
 */

@font-face {
	font-family: 'Amal Baik';
	src: url('/fonts/Amal\ Baik.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Demora';
	src: url('/fonts/trial/Demora-w1Wr6.otf');
}

/* 
@font-face {
	font-family: 'Dista Calista';
	src: url('../../static/fonts/Ditsa\ Calista\ DEMO.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Bukhari';
	src: url('../../static/fonts/BukhariScript-lemD.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'blog-title-1';
	src: url('../../static/fonts/RedThinker-Light.ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'blog-title';
	src: url('../../static/fonts/DelikFreeTrial.ttf');
	font-style: normal;
	font-weight: 400;
} */