@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@100;300&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Allura&family=Delius&family=Great+Vibes&display=swap');*/
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Crimson+Pro:wght@300;500&family=Meddon&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Marck+Script&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Lancelot&family=Maiden+Orange&family=Noto+Serif+Thai:wght@300;400&family=Offside&family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Pridi&family=Sanchez&display=swap');

/* 
Allura - handwriting font
Delius - slight handwriting
Great Vibes - handwriting
Libre baskerville - slight handwriting - Headline?
DM Sans - Sans font
Yellowtail - handwriting Astigmatic, 1 style
Pacifico - handwrting, 1 style
Calligraffitti - handwriting, too much
Crimson Pro - slight - headline?
Meddon - slant handwriting, too much
Antik Slab - Slight serif - too basic
Amiri - light serif - too basic
Proza Libre - slight handwriting
Bad Script - handwriting
Marck Script - handwriting
 */
:root {
	/* colors */
	--heading-color: hsl(251, 100%, 21%);
	--hue1: 251;
	--heading-text: var(--hue) 100% 21% --text: var(--hue) 4.8% 28.9%;
	--accent1: var(--hue) 43.6% 57.5%;
	--accent2: var(--hue) 71.4% 95.9%;
	--bkg: var(--hue) 100% 99.6%;
	--color_white: #fff;
	--color_prime: #5ad67d;
	--color_grey: #e2e2e2;
	--color_grey_dark: #a2a2a2;
	--color_link: #b7ffbc;

	/* box-shadows */
	--boxs-sm: 4px 6px 8px hsl(var(--accent1) / 14%), -3px 3px 18px 2px hsl(var(--accent1) / 12%),
		2px 5px 10px -3px hsl(var(--accent1) / 20%);
	--boxs-lg: 0px 8px 10px hsl(var(--accent1) / 14%), 0px 3px 14px 2px hsl(var(--accent1) / 12%),
		0px 5px 5px -3px hsl(var(--accent1) / 20%);
}

@font-face {
	font-family: 'Amal Baik';
	src: url('/fonts/Amal\ Baik.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Demora';
	/* src: url('/fonts/trial/DemoraItalic-p7LxD.otf'); */
	src: url('/fonts/trial/Demora-w1Wr6.otf');
	/* src: url('fonts/trial/TimeburnerBold-peGR.ttf'); */
	/* src: url('/fonts/trial/Gepestev-nRJgO.ttf'); */
	/* src: url('/fonts/trial/Timeburner-xJB8.ttf'); */
	/* src: url('/fonts/trial/TrenchThin-aZ1J.ttf'); */
	/* font-style: italic; */
	/* font-weight: 600; */
}

/* 
@font-face {
	font-family: 'Dista Calista';
	src: url('../../static/fonts/Ditsa\ Calista\ DEMO.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Bukhari';
	src: url('../../static/fonts/BukhariScript-lemD.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'blog-title-1';
	src: url('../../static/fonts/RedThinker-Light.ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'blog-title';
	src: url('../../static/fonts/DelikFreeTrial.ttf');
	font-style: normal;
	font-weight: 400;
} */

body {
	background-color: rgb(255, 254, 243);
	margin: 0;
	width: 1200px;
	margin: auto;
	/* align-items: center; */
}

h1,
h2,
h3 {
	font-family: 'Libre Baskerville', 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
	font-weight: 200;
}

h4,
a,
p,
li {
	font-family: 'Roboto', Verdana, 'Geneva', Tahoma, sans-serif;
	font-weight: normal;
}

q {
	font-family: 'Lancelot', 'Bukhari';
}

blockquote {
	font-family: 'Lancelot', 'Bad Script', 'Libre Baskerville', 'Delius', Georgia, 'Times New Roman', Times, serif;
}